.instructions {
  margin: auto;
  width: 500px;
  margin-top: 50px;
  margin-bottom: 20px;
}

.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20vh;
  margin-bottom: 20vh;
}

.board-wrapper {
  background-image: url("/boardbg.svg");
  height: 500px;
  width: 500px;
  position: relative;
  background-size: cover;
}

.board-position {
  position: absolute;
  cursor: pointer;
  height: 20px;
  width: 20px;
  border: 1px solid black;
  border-radius: 50%;
}

.board-position-green {
  background-color: green;
}

.board-position-blue {
  background-color: blue;
}

.board-position:hover {
  background-color: red;
  z-index: 9999;
}

.board-position--col1 {
  left: 5px;
}

.board-position--col2 {
  left: calc(50% - 10px);
}

.board-position--col3 {
  left: calc(100% - 25px);
}

.board-position--row1 {
  top: 5px;
}

.board-position--row2 {
  top: calc(50% - 10px);
}

.board-position--row3 {
  top: calc(100% - 25px);
}
